body {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #292929;
  font-size: 16px;
  line-height: 1.3;
}

h1, h2, h3 {
  font-family: "Pirata One", system-ui;
  padding:0;
  margin:0;
}

h1 {
  font-size: 3rem;
}

p {
  margin-bottom: 50px;
}

a {
  color:#292929;
  text-decoration: none;
}

.main-btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  background-color: #292929;
  color:bisque;
  padding: 25px 45px;
  border-radius: 45px;
}

.main-btn:hover, i:hover {
  background-color: #545454;
}

.main-btn:active, i:active {
  background-color: #000000;
}

.pun {
  font-size: 1.5em;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 15px;
}

.setup {
  background-color: #d0d0d067;

}

.punchline {
  background-color: #34343467;
  color: rgba(250, 235, 215, 0.601);
}

#container {
  background-color: bisque;
  max-width: 700px;
  margin: 0 auto;
}

.profile-card {
  background-color: rgb(108, 186, 182);
  padding: 40px;
  margin: 50px 0;
  box-shadow: 0 1px 5px #ababab;
}

.img-circle {
  max-width: 50%;
  max-height:100%;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 2px 5px #242424;
}

.section-heading {
  font-size: 2.5rem;
  color: #292929;
}

ul {
  padding:0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
}

i {
  margin: 0 auto;
  font-size: 1.7rem;
  padding: 30px;
  border-radius: 50%;
  background-color: #292929;
  color:antiquewhite;
}

@media (max-width: 720px) {
  #container {
    max-width: 90%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  .main-btn {
    font-size: 1rem;
    background-color: #292929;
    color:bisque;
    padding: 25px 40px;
    border-radius: 45px;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }
}
